* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	/* scroll-behavior: smooth; */
}

body {
	font-family: "Rubik", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
	overflow-x: hidden;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.section-big-font {
	font-size: 4.5rem;
	color: #20184e;
	line-height: 1.4;
}

.section-small-font {
	font-size: 1.5rem;
	color: #6666;
	line-height: 1.8;
}

.mid-font {
	font-size: 2.25rem;
	color: #20184e;
	line-height: 1.4;
	padding-bottom: 1rem;
}

.tiny-font {
	font-size: 1.25rem;
	/* color: #20184e; */
	line-height: 1.6;
}

/*header*/
.header {
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
	/* position: relative; */
	background-image: url(/img/Mask\ Group23.png);
	background-size: cover;
	background-position: center;
	height: 87rem;
	padding: 3rem 15rem 0rem 15rem;
}

.cta-box {
	display: flex;
	/* justify-content: center; */
	gap: 29rem;
	align-items: center;
}

.main-nav-list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: #c08dff;
	font-weight: 400;
	font-size: 1.7rem;
	transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
	color: #8828ff;
}

.main-nav {
	display: flex;
	gap: 15rem;
}

.main-nav-link-focus {
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.7rem;
	transition: all 0.3s;
	color: #8828ff;
}

.dark {
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5rem;
	color: #8828ff;
}

.button {
	border: 2px solid #8828ff;
	border-radius: 14rem;
	display: inline-block;
	padding: 1.2rem 3.5rem;
}

.another {
	gap: 3.5rem;
}

.darker {
	background-color: #8828ff;
	color: #fff;
}

.lighter {
	color: #fff;
	border: none;
}

.darker,
.lighter {
	margin: 0rem 0rem 7rem 0rem;
}

.heading-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 9rem 0rem;
	/* gap: 11rem; */
	position: relative;
}

.big-font-1 {
	font-size: 6rem;
	color: #fff;
	line-height: 1.3;
}

.small-font-1 {
	color: #fff;
	width: 45rem;

	line-height: 1.9;
	padding: 2.5rem 0rem 6rem 0rem;
}

.moving-pic {
	position: absolute;
	top: 19rem;
	right: 20rem;
}

.second-container {
	padding: 12rem 15rem 12rem 15rem;
	text-align: center;

	position: relative;
}

.second-container-relative {
	position: absolute;
	right: 2rem;
	bottom: -45.5rem;
}

.second-container-absolute {
	position: absolute;
	left: -30rem;
	top: 11rem;
}

.second-container-2 {
	padding: 0rem 30rem;
	position: relative;
}

.leap {
	padding: 1.5rem 0rem;
}

.third-container {
	background-image: url(/img/Rectangle\ 105.png);
	background-size: cover;
	background-position: center;
	height: 70rem;
	padding: 3rem 15rem 0rem 15rem;
}

.fourth-container {
	padding: 20rem 15rem 0rem 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16rem;

	position: relative;
}

.fourth-container-1 {
	width: 45.5rem;
}

.fourth-container-absolute {
	position: absolute;
	right: -23rem;
	top: 3rem;
}

.leap-1 {
	padding: 1.8rem 0rem 3.5rem 0rem;
}

/* .fourth-container-img-1 {
	position: relative;
} */

.fourth-container-img-2 {
	position: absolute;
	top: 40.65rem;
	left: 52.6rem;
}

.fourth-container-shadow {
	position: absolute;
}

.fifth-container {
	margin: 30rem 16rem 22.5rem 16rem;
	position: relative;

	display: flex;
	gap: 30rem;
	align-items: center;
}

.fifth-container-border {
	border: 1px solid rgb(231, 231, 231);
	height: 25.6rem;
	width: 27.3rem;
	text-align: center;
	padding: 2.5rem 2rem;
	background-color: #fff;
	box-shadow: 5px 5px 10px rgb(222, 222, 222);
	border-radius: 18px;
}

.fifth-1 {
	position: absolute;
	top: -9.8rem;
	right: 39rem;
}

.fifth-2 {
	position: absolute;
	top: -4.3rem;
	right: 6rem;
}

.fifth-3 {
	position: absolute;
	bottom: -3.5rem;
	right: 39rem;
}

.fifth-4 {
	position: absolute;
	top: 27.3rem;
	right: 6rem;
}

.fifth-container-img {
}

.fifth-container-1 {
	width: 37rem;
}

.cta-box-2 {
	background-image: url(/img/Group\ 1163.png);
	background-size: cover;
	background-position: center;
	height: 41.8rem;
	padding: 14rem 15rem 14rem 15rem;

	display: flex;
	gap: 9.5rem;
	justify-content: center;
	align-items: center;
}

.sixth-border {
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 3.5rem 3.5rem;
	width: 38.7rem;
	height: 14.4rem;
	background-color: #fff;

	display: flex;
	/* justify-content: center; */
	align-items: center;
	gap: 4rem;
}

.next {
	justify-self: flex-start;
}

.sixth-border-flex {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.thing-1 {
	color: #fff;
}

.section-connect-7 {
	background-color: #260055;
	/* height: 50rem; */
	padding: 11rem 13rem 8rem 13rem;
}

.section-connect-img {
	width: 17rem;
}

.connect-7-head {
	font-size: 1.8rem;
	color: #fff;
}

.color-7 {
	color: #adabb7;
}

.section-connect-7-flex {
	display: flex;
	gap: 16rem;
	/* justify-content: center; */
	align-items: center;
}

.section-connect-7-1 {
	width: 25rem;
}

.section-7-changing {
	line-height: 2.6;
}

.changing {
	line-height: 2.6;
}

.changing-1 {
	padding-bottom: 2.1rem;
	padding-top: 1rem;
}

.section-7-img-flex {
	display: flex;
	gap: 2.7rem;
	align-items: center;
}

.footer-flex {
	display: flex;
	gap: 33.2rem;
	padding-top: 7rem;
}
